@import '~styles/memory-snap-mixins';

.tile {
  height: 100px;
  width: 100px;
  @include breakpoint(md) {
    height: 200px;
    width: 200px;
  }

  img {
    width: 100%;
  }
}

.matched {
  img {
    display: none;
  }
}
