@import '~styles/memory-snap-mixins';

.tile {
  height: 100px;
  width: 100px;
  overflow: hidden;
  @include breakpoint(md) {
    height: 200px;
    width: 200px;
  }

  img {
    object-fit: contain; /* keep aspect ratio */
    width: 100%;
    margin-bottom: 1rem;
  }
}
