@use '@/styles/memory-snap-variables' as *;
@use 'sass:color';

.player-hud {
  .player-name {
    text-shadow: 2px 2px 2px $custom-dark;
  }

  .player-score {
    height: 40px;
    width: 40px;
    box-shadow: 0 0 8px 1px $custom-dark;

    &.active {
      box-shadow: 0 0 8px 1px
        color.adjust($custom-warning, $hue: -10%, $lightness: -10%);
    }

    font-size: 1.5rem;
  }

  &:nth-of-type(2) {
    justify-content: flex-end;

    .player-name {
      order: 1;
    }

    .player-score {
      order: 2;
    }
  }
}
